@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  * {
    box-sizing: border-box;
  }

  header {
    @apply flex-shrink-0
  }

  main {
    @apply flex-1 flex-shrink-0
  }
}


@layer components {
  .nav-link {
    @apply py-4 inline-block text-gray-500 hover:text-black
  }

  .nav-link--active {
    @apply border-b-4 border-b-orange-300 pointer-events-none text-black
  }

  .container {
    width: 100%;
    max-width: none;
    padding: 0px 20px;
  }

  .abs-y-center {
    top: 50%;
    transform: translateY(-50%);
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #6268e3;
    border-color: #6268e3 transparent #6268e3 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .match-result {
    border: 1px solid gray;
    border-bottom: 0px;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: max(150px) 1fr 1fr 50px 1fr 1fr;
    column-gap: 10px;
    text-align: center;
  }

  .match-result:last-child {
    border-bottom: 1px;
  }
}
