@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  * {
    box-sizing: border-box;
  }
}


@layer components {
  .nav-link {
    @apply py-4 inline-block text-gray-500 hover:text-black
  }

  .nav-link--active {
    @apply border-b-4 border-b-orange-300 pointer-events-none text-black
  }

  .container {
    width: 100%;
    max-width: none;
    padding: 0px 20px;
  }

  .abs-y-center {
    top: 50%;
    transform: translateY(-50%);
  }
}
